

    <h1 class="text-center">Sign Up</h1>
    <!-- <p class="lead">This is version <strong>1.0.0 Matterhorn</strong>.</p> -->
    <style>
      label span i{color: black;font-size: large;}
    </style>
    <label>
      <span class="inline-label">
      <span class="form-label"><i class="fi-torso"></i></span>
      <input type="text" placeholder="Username">
      
    </label>
    <label>
      <span class="inline-label">
      <span class="form-label"><i class="fi-lock"></i></span>
      <input type="text" placeholder="Password">
      
    </label>
    <a class="success button expand" href="#" ui-sref="reviews">Sign Up</a>
    <h2 class="text-center">or</h2>

    <!-- I wanna make this this shake (motion class) when clicked... -->
    <!-- if input information is invalid -->
    <a class="button expand" href="#" ng-click="animateSquare='shake'">Sign in with Facebook</a>